.fa-edit{
    outline: none !important;
    border: none !important;
}
.fa-trash-o{
    outline: none !important;
    border: none !important;
}
.fa-plus{
    outline: none !important;
    border: none !important;
}

